/*
ÍNDICE:
1. Reset
2. Normalización
3. Estilos propios
4. Elementos comunes
5. Cabecera
6. Pie
7. Estructura general (main)
8. Formularios
9. Portada
10. Página XXXX
11. Página YYYY
12. Página ZZZZ
.........
*/

/* 1. Reset ........................................................................... */
/* Basado en Reset.css | License: none (public domain) | http://meyerweb.com/eric/tools/css/reset/ */
a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,u,ul,var,video,main{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,main,nav,section,summary{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* 2. Normalización ........................................................................... */
/* Basado en normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{-webkit-text-size-adjust:100%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}abbr[title]{border-bottom:none;text-decoration:underline dotted;cursor:help}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}



/* 3. Estilos propios ................................................................. */
html { box-sizing: border-box; scroll-behavior: smooth; font-size: 62.5%; height: 100%; }

@media screen and (prefers-reduced-motion: reduce) { 
	html { scroll-behavior: auto; } 
}

*, *:before, *:after { box-sizing: inherit; }

a { text-decoration: none; transition: all 0.3s linear; word-wrap: break-word; }

img, video, svg { max-width: 100%; height: auto; }

abbr { cursor: help; }

input[type="submit"], input[type="button"], input[type="reset"], button { cursor: pointer; background: none; border: none;	color: inherit; font: inherit;line-height: normal;}

.rwd-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin: 0 0 25px 0; }
	.rwd-container video, .rwd-container iframe, .rwd-container object, .rwd-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Iremos añadiendo más estilos útiles para aplicarlos siempre en nuestras páginas */
/*
- Ajuste de scroll para los enlaces dentro de la página si tenemos una cabecera fija
- Color en las barras de scroll
- Etc..
*/


/* 4. Elementos comunes ................................................................. */
/*
- Propiedades personalizadas
- Tipografías y tamaños
- etc...
*/
:root{

    /*tabla de colores*/
    --azul-Oscuro:#003d36;
    --azul-Medio:#80fff0;
    --azul-Claro:#ccfff9;
    --rosado:#ffc2c9;
    --vinotinto:#3d0007;

    --tipografiaPrincipal: "Roboto Mono", monospace;
}
 body{
background-color: var(--azul-Claro);
font-family: var(--tipografiaPrincipal);
font-size: 1.6rem;
min-height: 100vh;
margin: 0;
display: flex;
flex-direction: column;

}


/* 5. Cabecera de página ................................................................. */
/*
- Logo
- Navegación principal
- Otros elementos que pueda haber (rrss, buscador, información adicional...)
*/
.header{
 /*   background-color: var(--azul-Medio); */
    color: var(--azul-Oscuro );
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.material-symbols-outlined{
    color: var(--vinotinto);
}
.title-name{
    font-size: 2.5rem;
    font-weight: bold;
}
.title-name span{
    font-size: 1.2rem;
    color: var(--azul-Oscuro);
    margin-left: 1rem;
}



.nav-bar ul{
    display: flex;
    list-style: none;
}   
.nav-bar ul li{
    cursor: pointer;
    padding: 1.5rem;
}
.nav-bar ul li:hover{
    font-weight: bold;
    color: var(--vinotinto);
    background-color: var(--azul-Medio);
    border-radius: 0.8rem;

}






/* 6. Pie de página ................................................................. */
/*
- Logos
- Dirección postal
- Menú información legal
- Otros elementos que pueda haber (rrss, información adicional...)
*/

.footer-container{
  /*  background-color: var(--azul-Medio); */   
  border-top: #3d0007 2px solid;
    color: var(--azul-Oscuro);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: 2rem 2rem ;
}
.footer-container .footer-content{
    display: flex;
    flex-direction: column;
    align-items: right;
}   

.footer-content h3{
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--vinotinto);
}
.footer-content span{
    font-size: 1.6rem;
}









/* 7. Estructura general (main) ........................................................... */
/*
- Elemento main
- Cabeceras de contenido
- Otros posibles contenedores: podemos definir en este apartado los estilos de maquetación a 2, 3, 4... columnas, para luego utilizarlos en los bloques de contenido que los necesiten (en vez de hacerlo bloque a bloque, por ejemplo)
- ...
*/



.main-container{
    padding: 2rem;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5rem;
    min-height: 80vh;
}

.main-container .img-perfil{
    display: flex;
    justify-content: end;
    align-items: center;
}
.img-perfil img{
   display: inline-block;
    border-radius: 50%;
    width: 50rem;
    height: 50rem;
}

.text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
     color: var(--vinotinto);
}


.text-content h2{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.text-content h3{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.text-content p{
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    margin-bottom: 3rem;
    max-width: 50rem;
   
}  

.enlaces ul{
    display: flex;
    gap: 5rem;
}

.enlaces ul li a{
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 3rem;
    border: #3d0007 2px solid;
    border-radius: 0.8rem;
    background-color: var(--azul-Medio);
    color: var(--azul-Oscuro);
}
.enlaces ul li a:hover{
    background-color: var(--rosado);
    border-color: var(--vinotinto);
    color: var(--vinotinto);
}




/* 8. Formularios ..................................................................... */
/*
- Estilos generales para todos los campos de formulario
- Estilos particulares para ciertos campos
- ...
*/




/* 9. Portada ..................................................................... */
/* 
- Estilos particulares para la página de portada

*/




/* 10. Página XXXX ..................................................................... */
/* 
- Estilos particulares para la página XXXX

*/




/* 11. Página YYYY ..................................................................... */
/* 
- Estilos particulares para la página XXXX

*/




/* 12. Página ZZZZ ..................................................................... */
/* 
- Estilos particulares para la página XXXX

*/
